.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.body{
    align-items: center;
}
.tit{
    font-size: 15px;
    margin-top: 10px;
}
.tex{
    font-size: 14px;
}
.button{
    margin-right: 10px;
}

/* navbar */
.nav{
    height: 80px;
}
.me-auto{
    margin-left: 200px;
}
.dd{
    margin-left: 100px;
}

/* Product add and delete using useReducerHook */
.car{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(209, 235, 245);
}
.bod{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-2{
    margin-right: 200px;
    margin-left: 200px;
}
.total{
    margin-left: 250px;
}